fastapi
uvicorn
requests
python-dotenv
scikit-learn
joblib
pandas
pydantic
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-multipart
python-jose[cryptography]
httpx
jinja2
python-magic


fastapi
uvicorn
requests
python-dotenv
scikit-learn
joblib
pandas
pydantic
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-multipart
python-jose[cryptography]
httpx
jinja2
python-magic
google-generativeai
fpdf2
reportlab
gunicorn
uvicorn[standard]

